.item{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.admin-comp{
    background: lightgray;
    padding: 30px;
    width: 100%;
    text-align: left;
}

.admin-buttons{
    display: flex;
}

.admin-item-slot{
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}